body{
    margin:0;
    height: 3000px;
}

p{
    font-family: roboto mono;
    
}
h2{
    font-size: 40px;
    font-weight: 900;
    font-family: roboto mono;
}

h3{
    font-size: 25px;
    font-weight: 900;
    font-family: roboto mono;
}

h4{
    font-size: 20px;
    font-weight: 900;
    font-family: roboto mono;
}

footer{
    margin-left: 30px;
}

ul{
    font-family: roboto mono;
}